<!DOCTYPE html>
<html>
  <head>
    <title>長岡先生の授業が聞ける　高校数学の教科書</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
